* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    background-color: #010101;
}

::-webkit-scrollbar {
    width: 0px;
}

button {
    cursor: pointer;
}

body,
html {
    width: 100%;
    height: 100dvh;
    scroll-behavior: smooth;
}

.section__login {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.login__form {
    gap: 1rem;
    width: 100%;
    padding: 15px;
    display: flex;
    max-width: 320px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #080C0D;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.login__form>h1 {
    color: #52E9D8;
    font-size: 2rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login__form>input {
    border: none;
    width: 100%;
    padding: 15px;
    outline: none;
    font-size: 0.85rem;
    border-radius: 5px;
    background-color: #ddd;
}

.login__form>button {
    border: none;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: #52E9D8;
    transition: background-color .5s;
}

.login__form>button:hover {
    background-color: #5f918b;
}

.chat-contaner {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}

.messages {
    width: 100%;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    padding: 30px 30px 90px;
    flex-direction: column;
    justify-content: flex-end;
}

.chat__form {
    left: 0;
    gap: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 15px;
    position: fixed;
    align-items: center;
    background-color: #121212;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.chat__form>input {
    flex-grow: 1;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 0.85rem;
    color: #f2f2f2;
    background-color: #162124;
}

.chat__form>input::placeholder {
    color: #f2f2f2;
}

.chat__form>button {
    border: none;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(5, 243, 231);
}

.chat__form>button:hover {
    background-color: #5f918b;
}

.messages>div {
    width: 100%;
    padding: 15px;
    color: #ffffff;
    max-width: 250px;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 22px;
    overflow: hidden;
    margin-bottom: 15px;
    flex-direction: column-reverse;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.message__self {
    display: flex;
    align-self: flex-end;
    background-color: #162124;
    border-radius: 15px 3.6px 15px 15px;
}

.message__other {
    display: flex;
    background-color: #0a3946;
    border-radius: 4px 15px 15px 15px;
}


.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    position: sticky;
    padding: 18px 5%;
    text-align: center;
    align-items: center;
    background-color: #162124;
    justify-content: space-between;
}

.header .btn__about {
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #52E9D8;
    border: 1px solid #52E9D8;
    font-size: 0.85rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.header .btn__about:hover {
    color: #52E9D8;
    border: 1px solid #52E9D8;
    background-color: transparent;
}

.header>h2 {
    font-size: 1.7rem;
    color: #52E9D8;
    /* cor do ome2 */
}

.messages div>span {
    color: #52E9D8;
    font-weight: 700;
    /* cor do nome1 */
}

.messages div>img {
    width: 100%;
    margin-top: 10px;
    object-fit: cover;
}

.messages {
    position: relative;
}


/* Animacao de digitalizacao */
.is__write {
    bottom: 11%;
    display: flex;
    position: fixed;
    visibility: hidden;
    background-color: #111;
    flex-direction: column-reverse;
    border-radius: 0px 15px 15px 15px;
}

.typing {
    gap: 10px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
}

.typing>span {
    width: 6px;
    height: 6px;
    border-radius: 5px;
    display: inline-block;
    background-color: #52E9D8;
    animation: typing 1.4s infinite;
}

.typing>span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing>span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

/* Telas menores */

@media screen and (max-width: 470px) {
    .login__form {
        width: 300px;
    }

    .header > h2 {
        font-size: 1.2rem;
    }
}

/* Menu */
.menu {
    bottom: 0;
    height: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    position: fixed;
    transition: all .5s;
    background-color: #111;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu .options {
    width: 45px;
    border: none;
    height: 45px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #52E9D8;
}

.menu.open {
    height: 200px;
}

.btn__open__menu {
    cursor: pointer;
}


/* Icones ocultos */

.chat__form .btn__send__audio {
    display: block;
}

.chat__form .btn__send__message {
    display: none;
}

.clients_online {
    font-weight: bold;
    color: #f2f2f2;
}
